/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@300&display=swap');
body {
  margin: 0;
  font-family: Lato;
}

h1, h2, h3, h4 {
  font-family: Nunito;
}

a {
  text-decoration: none;
}

p {
  font-family: Lato;
}
/* Custom design below! */

.container {
  width: 900px;
  margin: auto;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  position: relative;
}
.banner h1 {
  text-align: center;
}
.text-center {
  text-align: center;

}
.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
  text-align: center;
}

.btn-primary {
  font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	color: #e9ecf8;
  cursor: pointer;
  max-width: 200px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: rgba(246, 247, 248, 0.5);
  outline-offset: 70px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
  position: absolute;
  left: 50%;
  transform: translateX(-50%)translateY(60px);
  padding: -90px;
  
}

.btn-primary:hover {
	color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(253, 253, 253, 0.801);
  outline-offset: 20px;
}


.card img {
  height: 100px;
}

.card p {
  opacity: .5;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;
}

.footer a {
  font-size: 30px;
  color:  #1EDD88;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}


